:root {
  --black: #000000; /* Black */
  --white: #ffffff; /* White */
  --disco: #a70055; /* Disco */
  --jakarta: #272d5b; /* Jakarta */
  --gray: #c7c8ca; /* Gray */
  --gray-light: #eeeeee; /* Gray Light */
  --gray-dark: #636466; /* Gray Dark */
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

html,
body {
  font-size: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.w-regular {
  font-weight: normal;
}

.w-light {
  font-weight: lighter;
}

.w-bold {
  font-weight: bold;
}

.w-black {
  font-weight: 900;
}

.c-white {
  color: var(--white);
}

.c-black {
  color: var(--black);
}

.c-disco {
  color: var(--disco);
}

.c-jakarta {
  color: var(--jakarta);
}

.c-gray-light {
  color: var(--gray-light);
}

.c-gray-dark {
  color: var(--gray-dark);
}

.bc-white {
  background-color: var(--white);
}

.bc-black {
  background-color: var(--black);
}

.bc-disco {
  background-color: var(--disco);
}

.bc-jakarta {
  background-color: var(--jakarta);
}

.bc-gray-light {
  background-color: var(--gray-light);
}

.bc-gray-dark {
  background-color: var(--gray-dark);
}
