:root {
  --black: #000000; /* Black */
  --white: #ffffff; /* White */
  --disco: #a70055; /* Disco */
  --jakarta: #272d5b; /* Jakarta */
  --gray: #c7c8ca; /* Gray */
  --gray-light: #eeeeee; /* Gray Light */
  --gray-dark: #636466; /* Gray Dark */
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

html,
body {
  font-size: 100%;
  height: 100vh;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.w-regular {
  font-weight: normal;
}

.w-light {
  font-weight: 300;
}

.w-bold {
  font-weight: bold;
}

.w-black {
  font-weight: 900;
}

.c-white {
  color: var(--white);
}

.c-black {
  color: var(--black);
}

.c-disco {
  color: var(--disco);
}

.c-jakarta {
  color: var(--jakarta);
}

.c-gray-light {
  color: var(--gray-light);
}

.c-gray-dark {
  color: var(--gray-dark);
}

.bc-white {
  background-color: var(--white);
}

.bc-black {
  background-color: var(--black);
}

.bc-disco {
  background-color: var(--disco);
}

.bc-jakarta {
  background-color: var(--jakarta);
}

.bc-gray {
  background-color: var(--gray);
}

.bc-gray-light {
  background-color: var(--gray-light);
}

.bc-gray-dark {
  background-color: var(--gray-dark);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin: 2.75rem;
  margin-bottom: 0.3125rem;
}

.header__title {
  max-width: 12.5rem;
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  margin: 1.9375rem 0;
}

.hero__image {
  width: 100%;
  max-width: 2160px;
}

.container {
  padding: 30px 19px;
}

.welcome {
  background-image: none;
  position: relative;
}

.block {
  position: relative;
  padding-bottom: 3.125rem;
}

.block__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block__title__image {
  padding-bottom: 0.5rem;
  margin-right: 1.125rem;
}

.block__title__number {
  margin: 0;
  margin-right: 0.25rem;
  font-style: normal;
  font-size: 3.125rem;
  line-height: 59px;
}

.block__title__text {
  font-style: normal;
  font-size: 1.5625rem;
  line-height: 29px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 0.8125rem;
}

.block__text {
  font-style: normal;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.date {
  background-color: rgba(222, 222, 222, 0.5);
}

.date__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5625rem;
  background-image: url('../assets/date-banner.svg');
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.date__title__text {
  margin-bottom: 3.125rem;
  font-style: normal;
  font-size: 2.1875rem;
  line-height: 41px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.date__text {
  text-transform: uppercase;
}

.date__text__date {
  font-size: 3.75rem;
  line-height: 50px;
}

.date__text__time {
  font-size: 5rem;
  line-height: 60px;
}

.schedule {
  padding-top: 4rem;
  padding-bottom: 3.4375rem;
}

.diary__time {
  font-style: normal;
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: 0.2em;
  margin-bottom: 9px;
}

.diary__time::before {
  content: '_';
  color: var(--disco);
}

.diary__items {
  margin-left: 3.75rem;
  margin-bottom: 15px;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 21px;
}

.diary__image {
  display: none;
}

.how {
  background-color: var(--jakarta);
}

.block__how__content {
  padding-top: 2.8125rem;
}

.how__cta__container__button {
  display: none;
}

.how__image {
  display: none;
}

.how__text {
  font-style: normal;
  font-size: 1.375rem;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.info {
  position: relative;
  top: -3.125rem;
}

.info__title {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info__text {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 23px;
  text-align: center;
}

.info__link {
  outline: none;
  text-decoration: none;
}

.info__cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__cta__container__button {
  position: relative;
  top: -36px;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  background-color: var(--disco);
}

.divider__image {
  position: absolute;
  top: -104px;
  left: 50%;
  transform: translateX(-50%);
  width: 124.85px;
  height: 180.07px;
}

.divider__title {
  position: relative;
  top: -14px;
  font-style: normal;
  font-size: 1.875rem;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.divider__button {
  position: absolute;
  bottom: -38.5px;
  left: 50%;
  transform: translateX(-50%);
}

.terms {
  padding-top: 2.125rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
}

.container__button {
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  top: calc(0% + 38.5px);
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  text-transform: uppercase;
  padding: 17px 75px;
  color: white;
  text-align: center;
  border-radius: 50px;
  border: none;
}

.button::after {
  border-radius: 50px;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  top: -6px;
  left: -6px;
  z-index: 1;
}

.button_border--disco::after {
  border: 2px solid var(--disco);
}

.button_border--jakarta::after {
  border: 2px solid var(--jakarta);
}

.button__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__lin:hover {
  cursor: pointer;
}

.footer__icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.footer__icon {
  height: 1.5rem;
  width: auto;
}

.footer__links {
  display: none;
}

@media (min-width: 1100px) {
  body {
    font-size: 1.125rem;
  }

  .separator {
    display: none;
  }

  .container {
    padding: 0 170px;
  }

  .header {
    flex-direction: row;
    justify-content: flex-start;
    margin: 44px 0;
    margin-left: 14.625rem;
  }

  .header__logo {
    margin: 0;
  }

  .header__title {
    max-width: 100%;
    margin-left: 2.625rem;
    font-size: 1.5rem;
    line-height: 37px;
  }

  .welcome {
    padding-top: 4.75rem;
    background-image: url(../assets/welcome_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome__content {
    padding-bottom: 11.5rem;
  }

  .block__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .block__title__image {
    width: auto;
    height: 8.033125rem;
    padding-bottom: 0;
    margin-right: 1.5rem;
  }

  .block__title__number {
    font-size: 4.6875rem;
    line-height: 117px;
    letter-spacing: -0.1em;
    padding-right: 1.25rem;
    padding-top: 3rem;
  }

  .block__title__text {
    font-style: normal;
    font-weight: 300;
    font-size: 3.515625rem;
    line-height: 88px;
    padding-top: 3rem;
    margin: 0;
  }

  .block__text {
    max-width: 698px;
    font-style: normal;
    font-size: 1.375rem;
    line-height: 26px;
    letter-spacing: 0.1em;
    position: relative;
    margin-left: 10.9375rem;
  }

  .date {
    background-image: url('../assets/date-banner-large.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    height: 644px;
  }

  .date__title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-image: none;
    padding: 79px 0px;
  }

  .date__title__text {
    font-weight: 200;
    font-size: 3.515625rem;
    line-height: 88px;
  }

  .date__text {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
  }

  .date__text__date {
    font-size: 6.5625em;
    line-height: 164px;
  }

  .date__text__time {
    font-weight: 900;
    font-size: 4.6875rem;
    line-height: 117px;
  }

  .block_diaries {
    max-width: 970px;
    font-size: 1.96875rem;
    line-height: 49px;
    letter-spacing: 0.2em;
    margin-left: 10.9375rem;
    margin-top: 100px;
  }

  .block__diary {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .schedule {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .diary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .diary__time {
    margin: 0;
    font-size: 1.96875rem;
    line-height: 49px;
    letter-spacing: 0.2em;
    margin-right: 39px;
  }

  .diary__items {
    margin: 0;
    font-style: normal;
    font-size: 1.96875rem;
    line-height: 49px;
  }

  .diary__image {
    display: block;
  }

  .how {
    height: 581px;
    display: flex;
    flex-direction: row;
  }

  .block__how__content {
    padding-top: 5.0625rem;
  }

  .how__cta__container__button {
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    top: calc(0% + 38.5px);
    left: 10.9375rem;
  }

  .how__image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 839px;
    padding-top: 7.75rem;
  }

  .how__text {
    font-size: 1.6875rem;
    line-height: 42px;
    letter-spacing: 0.1em;
    max-width: 500px;
    margin-left: 10.9375rem;
  }

  .info {
    margin-top: 15.625rem;
    margin-bottom: 11.875rem;
  }

  .info__cta__container {
    display: none;
  }

  .info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info__title {
    font-size: 3.2825rem;
    line-height: 82px;
  }

  .divider {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    height: 363px;
  }

  .divider__title {
    top: -2px;
    font-size: 5.8125rem;
    line-height: 145px;
  }

  .terms {
    padding-top: 7.8125rem;
    padding-bottom: 4.6875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info__text {
    max-width: 780px;
    font-style: normal;
    font-size: 1.640625rem;
    line-height: 41px;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101px;
  }

  .footer__icons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .footer__icon {
    margin-right: 2.0625rem;
  }

  .footer__links {
    display: block;
    display: flex;
    width: 100%;
  }

  .footer__link {
    font-style: normal;
    font-size: 1.40625rem;
    line-height: 2.1875rem;
    margin-left: 2.0625rem;
    outline: none;
    text-decoration: none;
  }

  .button {
    font-size: 1.96875rem;
    line-height: 49px;
  }
}
