.header {
  display: grid;
  justify-content: center;
  text-align: center;
}

.header__logo {
  margin: 2.75rem;
  margin-bottom: 0.3125rem;
}

.header__title {
  margin: 0 auto;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.1875rem;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  margin: 1.9375rem 0;
}

.banner {
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.container {
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}

.block {
  padding-bottom: 3.125rem;
}

.block__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3.125rem;
}

.block__title__image {
  margin-right: 1.125rem;
}

.block__title__number {
  margin: 0;
  margin-right: 0.25rem;
  font-style: normal;
  font-size: 3.125rem;
  line-height: 3.6875rem;
}

.block__title__text {
  font-style: normal;
  font-size: 1.5625rem;
  line-height: 1.8125rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.block__text {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1em;
}

.date {
  background-color: var(--gray-light);
}

.date__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.5625rem;
  background-image: url('../assets/date-banner.svg');
}

.date__title__text {
  margin-bottom: 3.125rem;
  font-style: normal;
  font-size: 2.1875rem;
  line-height: 2.5625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.date__text {
  text-transform: uppercase;
}

.date__text__date {
  font-size: 3.75rem;
  line-height: 3.125rem;
}

.date__text__time {
  font-size: 5rem;
  line-height: 3.75rem;
}

.diary__time {
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  margin-bottom: 9px;
}

.diary__time::before {
  content: '_';
  color: var(--disco);
}

.diary__items {
  width: 191px;
  margin-left: 60px;
  margin-bottom: 15px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.how {
  background-color: var(--jakarta);
}

.how__text {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.info {
  position: relative;
  top: -3.125rem;
}

.info__title {
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.info__text {
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.info__cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__cta__container__button {
  position: relative;
  top: -36px;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  left: 0px;
  top: 3318px;
  background-color: var(--disco);
}

.divider__image {
  position: relative;
  top: -17px;
}

.divider__title {
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 114px;
  background-color: var(--gray);
}

.container__button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 29.5px;
}

.button {
  height: 59px;
  width: 258px;
  border-radius: 50px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  outline: none;
  border: none;
}
